[submodule ".registry"]
	path = .registry
	url = https://github.com/dataoneorg/dataoneorg.r-universe.dev
	branch = HEAD
[submodule "EML"]
	path = EML
	url = https://github.com/ropensci/EML
[submodule "arcticdatautils"]
	path = arcticdatautils
	url = https://github.com/NCEAS/arcticdatautils
[submodule "codyn"]
	path = codyn
	url = https://github.com/NCEAS/codyn
[submodule "datamgmt"]
	path = datamgmt
	url = https://github.com/NCEAS/datamgmt
[submodule "dataone"]
	path = dataone
	url = https://github.com/DataONEorg/rdataone
[submodule "datapack"]
	path = datapack
	url = https://github.com/ropensci/datapack
[submodule "emld"]
	path = emld
	url = https://github.com/ropensci/emld
[submodule "metajam"]
	path = metajam
	url = https://github.com/NCEAS/metajam
[submodule "recordr"]
	path = recordr
	url = https://github.com/NCEAS/recordr
[submodule "redland"]
	path = redland
	url = https://github.com/ropensci/redland-bindings
	branch = master
	subdir = R/redland
[submodule "scythe"]
	path = scythe
	url = https://github.com/DataONEorg/scythe
